.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .footer-info  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }

  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: x-small;
    display: flex;
    
  }